
    <ion-content fullscreen class="ion-padding" scroll-y="false">
      <ion-slides pager="true" [options]="slideOpts"> 
        
        <ion-slide>
          <img src="assets/img/doctor.png" alt="">
        <h1>En esta aplicacion podras realizar diferentes tareas para la aplicacion medica y sobre todo del covid-19</h1> 
        </ion-slide>
        
        <ion-slide>
          <img src="assets/img/check.png" alt="">
        <h1>Podras conocer toda la informacion sobre este virus y diversos consejos que quizas te puedan servir</h1> 
        </ion-slide>
       

        <ion-slide> 
          <img src="assets/img/test2.jpeg" alt="">
        <h1>Tendras la opcion de realizar Test relacionado con el covid-19 para aumentar los conocimiento sobre dicho virus</h1>  
        </ion-slide>

        <ion-slide>
          <img src="assets/img/agenda3.jpeg" alt="">
        <h1>Tendras la herramienta de crear agenda para tus pacientes y seguir un control de las consultas</h1> 
        </ion-slide>

        <ion-slide>
          <img src="assets/img/expediente.jpeg" alt="">
     <h1>Podras realizar expedientes de tus pacientes y guardarlos en esta app con la ayuda de la base de datos incluida</h1>
     <ion-button fill="clear" routerLink="/inicio">Ingresa</ion-button>
    </ion-slide>

    

      </ion-slides>
    </ion-content>

