<ion-toolbar color="primary">
  <ion-title></ion-title>

<ion-buttons slot="start">
  <ion-back-button defaultHref="local"></ion-back-button>
</ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header>
<ion-text>
  <h1>No esperes mas.</h1>
  <p>Empieza viendo las ultimas novedades con el contenido de la salud y todo lo relacionado con el covid-19</p>
  
  <img src="assets/img/l.jpeg" alt="">

  <br>
</ion-text>
</ion-header>
<div class="actions">
  <div class="login-buttons">

    

 </div>
 <div class="separator">
   <span class="line left"></span>
   <p>Para poder disfrutar todo el contenido inicia sesion</p>
   <span class="line right"></span>
 </div> 
 <ion-button href="login" class="signup-btn" expand="block">Login</ion-button>
<p class="login" >¿No tienes Cuenta? <a href="register">Crear Cuenta</a></p>
</div>
</ion-content>